@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sui-deep-ocean: #030f1c;
  --sui-ocean: #011829;
  --sui-sea: #4da2ff;
  --sui-aqua: #c0e6ff;
  --sui-cloud: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--sui-deep-ocean);
  color: var(--sui-cloud);
}

body {
  color: var(--sui-cloud);
  background: var(--sui-deep-ocean);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
